body{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header content */

.header{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

h2{ /* LOGO */
    display: flex;
    padding-left: 150px;
    font-size: 24px;
}

ul{ /* Links in header */
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.headLinks{ /*link container */
    display: flex;
    padding-right: 150px;

}

.headInfo{ /* Logo + Links Container */
    display: flex;
    justify-content: space-between;
}

/* Body of Header */

.headerContents{ /* Container for img + signup button + text */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 850px;
}

h1{ /*This website is awesome */
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}


img{ /* tolfo */
    width: 100%;
    height: 100%;
 
}

img.tolfo{
    width: 400px;
    height: 250px;
    padding-bottom: 50px;
}

button{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;

}

button.signup{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

/* Middle Content Images */

.randomInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.images{
    display: flex;
    justify-content: space-evenly;
    
}


/* Footer content  */

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    size: 18px;
    padding: 20px;
    bottom: 0;
}

img.pexels{
    height: 62.5px;
    width: 100px;
}

li.examples{
    display: flex;
    justify-content: space-between;
    
}

ul.text{
    color: #1F2937;
}

p.text{
    display: flex;
    justify-content: center;
    text-align: center;
}

p.inspirational{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.quote{
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    border: 20px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

.credit{
    display: flex;
    justify-content: end;
    font-weight: 800;
    color: #1F2937;
}

.ad{
    background-color: #3882F6;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 10px;

}